@charset "UTF-8";
/* CSS Document */

#site-slogan {
    font-size:23px;
    font-weight:bold;
    padding-top: 5px;
}

html body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin:0;
	padding:0;
	background: url(http://spdx.org/images/bg_gradient_alt.jpg) repeat-x top left;
	background-color:#e6f4fb; !important
}
a { outline: 0; cursor:pointer }
img { border: none; }
/*
	Main Structure
*/

#page {
	width:990px;
	height:auto;
	overflow:auto; 
	margin:0 auto;
	padding:0 0 10px 10px;
	background-color:#fff;
	}
#util_nav{
	width:980px;
	height:20px;
	margin:0 0 15px 0;
	overflow:hidden;
	}
	
#head {
	width:980px;
	height:auto;
	background-color: #fff;
	
	}
#content {
	width:980px;
	height:auto;
	margin:0 0 10px 0;
	}
#footer {
	width:960px;
	height:auto;
	margin:10px 0 0 0;
	background-color:#addaf2;
	padding:10px;
	}
#foot {
	width:980px;
	height:75px;
	margin:10px auto 0 auto;
	padding:15px 0 0 0; /*23px aligns  to bottom of logo */
	background:url(http://spdx.org/images/logo_footer.png) no-repeat top left;
	}				

#site_logo{ width:132px; height:50px; float:left}
#logo{ width: 132px; float:left}

#lf_logo a{ width:150px; height:44px; background:url(http://spdx.org/images/logo_lf_header.jpg) no-repeat top left; float:right }
#lf_logo a:hover{ background-position:left -44px}

.l_devnet{background:url(http://spdx.org/images/logo_devnet.jpg) no-repeat top left;}
.l_embedded{background:url(http://spdx.org/images/logo_embedded.jpg) no-repeat top left;}
.l_mobile{background:url(http://spdx.org/images/logo_mobile.jpg) no-repeat top left;}
.l_video{background:url(http://spdx.org/images/logo_video.jpg) no-repeat top left;}
.l_news{background:url(http://spdx.org/images/logo_news.jpg) no-repeat top left;}
.l_fossbazaar{background:url(http://spdx.org/images/logo_fossbazaar.jpg) no-repeat top left;}



/*
	Content Structure ( 2 column )
*/

#two_col_col_1{
	width:670px;
	height:auto;
	float:left;
	margin:0 10px 0 0;
	}
#two_col_col_2{
	width:300px;
	height:auto;
	float:left;
	}
	
#one_col_col_1{
	width:970px;
	height:auto;
	float:left;
	margin:0 10px 0 0;
	}	
	
/*
	2 column column 1 section divisions
*/
.section, .panel-display, .block{ width:100% ; height:auto; overflow:hidden; margin: 0 0 10px 0;}
/*---------------------------*/
.two_up_box_1{ width:330px; height:auto; float:left; margin: 0 10px 0 0; }
.two_up_box_2{ width:330px; height:auto; float:left; margin: 0 0 0 0; }
/*---------------------------*/
.three_up_box_1{ width:206px;height:auto; float:left; margin: 0 10px 0 0; padding:0 10px 0 0; }
.three_up_box_2{ width:206px;height:auto; float:left; margin: 0 10px 0 0; padding:0 10px 0 0; }
.three_up_box_3{ width:206px;height:auto; float:left; margin: 0 0 0 0; padding:0 10px 0 0; }
/*---------------------------*/
.four_up_box_1{	width:149px ; height:auto; float:left; margin: 0 10px 0 0; padding:0 10px 0 0; border-right:1px solid #ccc}
.four_up_box_2{	width:149px ; height:auto; float:left; margin: 0 10px 0 0; padding:0 10px 0 0; border-right:1px solid #ccc}
.four_up_box_3{	width:149px ; height:auto; float:left; margin: 0 10px 0 0; padding:0 10px 0 0; border-right:1px solid #ccc}
.four_up_box_4{	width:149px ; height:auto; float:left; margin: 0  0px 0 0; padding:0 10px 0 0; border-right:1px none #ccc}


/*
	right side section divisions
*/
.col_3_two_up_box_1{ width:145px; height:145px; float:left; margin: 0 10px 0 0; background-color: #ccc}
.col_3_two_up_box_2{ width:145px; height:145px; float:left; margin: 0 0 0 0; background-color: #ccc}

/*---------------------------*/
.col_3_four_up_box_1{	width:65px ; height:65px; border:1px solid #ccc; float:left; margin: 0 10px 0 0; overflow:hidden}
.col_3_four_up_box_2{	width:65px ; height:65px; border:1px solid #ccc; float:left; margin: 0 10px 0 0; overflow:hidden}
.col_3_four_up_box_3{	width:65px ; height:65px; border:1px solid #ccc; float:left; margin: 0 10px 0 0; overflow:hidden}
.col_3_four_up_box_4{	width:65px ; height:65px; border:1px solid #ccc; float:left; margin: 0 0px 0 0; overflow:hidden}


/*
	Content Structure ( 3 column )
*/

#three_col_col_1 {
	width:149px;
	height:auto;
	float:left;
	margin:0 10px 0 0;
	padding:0 10px 0 0; 
	border-right:1px solid #ccc;
	}
#three_col_col_2 {
	width:500px;
	height:auto;
	float:left;
	margin:0 10px 0 0;
	}
#three_col_col_3 {
	width:300px;
	height:auto;
	float:left;
	}
/*
	3 column column 2 section divisions
*/

/*---------------------------*/
#three_col_col_2 .two_up_box_1{ width:245px; height:auto; float:left; margin: 0 10px 0 0; overflow:hidden}
#three_col_col_2 .two_up_box_2{ width:245px; height:auto; float:left; margin: 0 0 0 0; overflow:hidden}
/*---------------------------*/
#three_col_col_2 .three_up_box_1{ width:150px;height:auto; float:left; margin: 0 10px 0 0; padding:0 10px 0 0; overflow:hidden}
#three_col_col_2 .three_up_box_2{ width:150px;height:auto; float:left; margin: 0 10px 0 0; padding:0 10px 0 0; overflow:hidden}
#three_col_col_2 .three_up_box_3{ width:150px;height:auto; float:left; margin: 0 0 0 0; padding:0 10px 0 0; overflow:hidden}
/*---------------------------*/


#three_col_col_2 .image_two_up_half{
	width:115px;
	height:150px;
	margin:0 10px 10px 0;
	background-color:#fff;
	border:1px solid #ccc;
	}
#three_col_col_2 .image_two_up_full{
	width:235px;
	height:100px;
	margin:0 0 10px 0;
	background-color:#fff;
	border:1px solid #ccc;
	}	
#three_col_col_2 .image_three_up{
	width:148px;
	height:105px;
	margin:0 0 10px 0;
	background-color:#fff;
	border:1px solid #ccc;
	}

.avatar{
	width:50px;
	height:50px;
	margin:0 10px 10px 10px;
	padding:3px;
	background-color:#fff;
	border:2px solid #ccc;
	overflow:hidden; 	
	}
.thumbnail{	width:65px ; height:45px; border:1px solid #ccc; float:left; margin: 0 10px 10px 0; overflow:visible}
.thumbnail img{	width:65px ; height:45px;}
.thumbnail span{
	width: 20px;
	height: 18px;
	display: block;
	position: relative;
	top:-19px;
	left:45px;
	}
.thumbnail .video {
	background: url(http://spdx.org/images/icn_video_thumb.gif) no-repeat;
}
.thumbnail a {
	text-decoration: none;
}

.thumbnail a:hover span {
	background-position: left -22px;
}		
.image_two_up_half{
	width:150px;
	height:150px;
	margin:0 10px 10px 0;
	background-color:#fff;
	border:1px solid #ccc;
	overflow:hidden
	}
.image_two_up_full{
	width:328px;
	height:100px;
	margin:0 0 10px 0;
	background-color:#fff;
	border:1px solid #ccc;
	overflow:hidden
	}	
.image_three_up{
	width:204px;
	height:105px;
	margin:0 0 10px 0;
	background-color:#fff;
	border:1px solid #ccc;
	overflow:hidden
	}
.image_four_up{
	width:148px;
	height:105px;
	margin:0 0 10px 0;
	background-color:#fff;
	border:1px solid #ccc;
	overflow:hidden
	}		

.comment_col_1{width:17%;height:auto;float:left;}
.comment_col_2{width:83%;height:auto;float:left;}



.ad_300x250{height:250px; background:url(http://spdx.org/images/300x250_ad.gif) no-repeat top left}

ul.inline_list li{
	float:left;
	margin:0 0 0 0px;
	}
/*-----------------------------------*/



ul {
	list-style-type: none;
	margin:0 0 10px 0;
	padding:0;
	}

ul.left_side_nav{
	font-size:14px;
	text-align:right;
	margin:10px 0 0 0;
	}
ul.left_side_nav li{
	margin:0 0 2px 0;
	position: relative;
	}
ul.left_side_nav li a {
	color: #003f69;
	display: block;
	padding:5px 20px 5px 5px;
	text-decoration: none;
	text-transform:capitalize;
	/* <acronym title="Internet Explorer">IE</acronym> is the myspace of browsers! */        
	position: relative;
	height: 1%;
	/* /IE */
}
ul.left_side_nav li a:hover { 
	
	color: #003f69;
}
ul.left_side_nav li ul {
  
  padding:0 15px 0 0;
}
ul.left_side_nav li ul li a {
 	font-size:12px;
	font-weight:normal;
	padding: 5px 20px 5px 0;
	background:url(http://spdx.org/images/icn_singleleftarrow.jpg) no-repeat right 4px;!important
}

ul.left_side_nav li ul li a:hover {
	text-decoration:underline;
	
  }
.expandable{
	
	background:url(http://spdx.org/images/icn_downarrow.png) no-repeat right 6px;!important
	}		
/* -----------------------------------*/	
			
ul.list_none{
	list-style-type: none;
	margin:0;
	padding:0;
	}
ul.list_none li {
	
	font-size:12px;
	font-weight:normal;
	}			


	
ul.list_icon_right li {
	text-align:right;
	}
	
ul.foot_ul{
	width:170px;
	margin:0 10px 0 0;
	padding:0 10px 0 0;
	float:left;
	} 

li.list_link_none{
	color:#999;
	font-size:10px;
	font-weight:normal;
	text-transform:uppercase;
	margin:0 0 0 10px;
	padding:2px 0 1px 20px !important;
	line-height:20px !important;
	text-decoration:none;
	}
	
a.list-link{
	color:#999;
	font-size:10px;
	font-weight:normal;
	text-transform:uppercase;
	margin:0 0 0 10px;
	padding:2px 0 1px 20px !important;
	line-height:20px !important;
	text-decoration:none;
	}
a.list-link-2,
a.list-link-3{
	color:#003f69;
	font-size:12px;
	font-weight:normal;
	text-transform:Capitalize;
	margin:0 0 0 0;
	padding:2px 0 1px 20px !important;
	line-height:20px !important;
	text-decoration:none;
	}
.block ul.menu li a,
a.list-link-4{
	color:#003f69;
	font-size:12px;
	font-weight:normal;
	text-transform:Capitalize;
	margin:0 0 0 0;
	padding:2px 20px 1px 0 !important;
	line-height:20px !important;
	text-decoration:none;
	}			
.home {
	background: url(http://spdx.org/images/icn_home.png) no-repeat 0 0;
	}
.rss {
	background: url(http://spdx.org/images/icn_rss.png) no-repeat 0 0;
	}
.login {
	background: url(http://spdx.org/images/icn_login.png) no-repeat 0 0;
	}
.signup {
	background: url(http://spdx.org/images/icn_signup.png) no-repeat 0 0;
	}
.print {
	background: url(http://spdx.org/images/icn_printer.png) no-repeat 0 0;
	}
.email {
	background: url(http://spdx.org/images/icn_email.png) no-repeat 0 0;
	}
.share {
	background: url(http://spdx.org/images/icn_share.png) no-repeat 0 0;
	}
.comment {
	background: url(http://spdx.org/images/icn_comment.png) no-repeat 0 0;
	}
.voteyes {
	background: url(http://spdx.org/images/icn_vote_yes.png) no-repeat 0 0;
	}
.voteno {
	background: url(http://spdx.org/images/icn_vote_no.png) no-repeat 0 0;
	}
.flag {
	background: url(http://spdx.org/images/icn_attention.png) no-repeat 0 0;
	}
.youtube {
	background: url(http://spdx.org/images/icn_youtube.png) no-repeat 0 0;
	}
.facebook {
	background: url(http://spdx.org/images/icn_facebook.png) no-repeat 0 0;
	}
.linkedin {
	background: url(http://spdx.org/images/icn_linkedin.png) no-repeat 0 0;
	}
.twitter {
	background: url(http://spdx.org/images/icn_twitter.png) no-repeat 0 0;
	}
.gcal {
	background: url(http://spdx.org/images/icn_gcal.png) no-repeat 0 0;
	}
.newsletter {
	background: url(http://spdx.org/images/icn_newsletter.jpg) no-repeat 0 0;
	}
.video {
	background: url(http://spdx.org/images/icn_video.png) no-repeat 0 0;
	}
.sub_nav_arrow {
	background: url(http://spdx.org/images/icn_doubleleftarrow.jpg) no-repeat right 0;
	}
.download {
	background: url(http://spdx.org/images/icn_download.png) no-repeat 0 0;
	}
.info {
	background: url(http://spdx.org/images/icn_info.png) no-repeat 0 0;
	}
												
												
a.list-link.arrow {
	color:#213025;
	font-size:10px;
	font-weight:bold;
	margin:0 0 0 10px;
	padding:2px 0 1px 15px !important;
	line-height:20px !important;
	text-decoration:none;
	background-image: url(http://spdx.org/images/woa_icon_listarrow.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
a.none {
	margin:0 0 0 0;
	padding:2px 0 1px 0px !important;
	line-height:20px !important;
	text-decoration:none;
	}
a.no_margin{margin:0 0 0 0}
			
a.list-link:link{
	color:#666;
	text-decoration:none;
}
a.list-link:visited{
	color:#999;
	text-decoration:none;
}
a.list-link:hover{
	color:#5bb6e6;
	text-decoration:underline;
}
a.list-link:active{
	color:#999;
	text-decoration:none;
}

a.list-link-3:link{
	color:#003f69;
	text-decoration:none;
}
a.list-link-3:hover{
	color:#003f69;
	text-decoration:underline;
}


p em{ font-size:10px; }
p.align_right{ text-align:right}
p a { line-height:16px;}

p a.a2:link{color: #7f9fb4; margin:0 0 0 10px;}	
p a.a2:hover{color:#003f69; margin:0 0 0 10px;}	
p a.a3:link{color: #5bb6e6; margin:0 0 0 0px; font-weight:bold; text-decoration:none}	
p a.a3:hover{color:#5bb6e6; margin:0 0 0 0px; font-weight:bold; text-decoration:underline}
a:link{
	color:#003f69;
	text-decoration:none;
}
a:visited{
	color:#7f9fb4;
	text-decoration:none;
}
a:hover{
	color:#003f69;
	text-decoration:underline;
}
a:active{
	color:#003f69;
	text-decoration:none;
}

			
/*
	Type
*/
	
h1, h2, h3, h4, h5, h6, p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}

p { 
  margin:5px 0 10px 0; font-size:13px; color:#4d4d4d; line-height:20px;
 }	

h1{
	color:#4d4d4d;
	font-size:24px;
	font-weight:normal;
	
	}
h2{
	color:#4d4d4d;
	font-size:16px;
	font-weight:normal;
	margin:5px 0 5px 0;
	}
	
.main .block-inner h2.title, .panel-pane h2.title, h4{
	color:#4d4d4d;
	font-size:16px;
	font-weight:normal;
	margin:5px 0 10px 0;
	border-bottom:4px solid;
	text-transform:capitalize;
	border-color: #7f9fb4;
	}

h3,h5{
	color:#4d4d4d;
	font-size:13px;
	font-weight:bold;
	margin:5px 0 5px 0;
	text-transform:capitalize;
	}
h6{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	background-color:#7f9fb4;
	margin:0 0 10px 0;
	padding:3px;
	text-transform:capitalize;
	}		

	
.articles .avatar{margin:0 75px 0 0}	

.view-recentarticles-bottom td.view-field-node_title a, .articles h3{
	color:#5bb6e6;
	font-size:16px;
	font-weight:Bold;
	text-transform:capitalize;
	text-decoration: underline;
	}
	
.articles p{ width:75%; line-height:18px }
		
.articles a:link{
	color:#5bb6e6;
	text-decoration: underline;
	}
.articles a:visited{
	color:#addaf2;
	text-decoration:underline;
	}
.articles a:hover{
	color:#003f69;
	text-decoration:underline;
	}
.articles a:active{
	color:#5bb6e6;
	text-decoration:underline;
	}

.articles .split {margin:10px 0 0 0; background-color:#f2f2f2;}
.articles .split a:link{ font-size:9px; color: #5bb6e6; margin:0 0 0 10px; text-transform:uppercase}	
.articles .split a:hover{font-size:9px; color:#003f69; margin:0 0 0 10px; text-transform:uppercase}
	
/*
	Useful Additional Attributes
*/

.float_left {
	float:left;
	}
.float_right{
	float:right;
	}
.width-50percent{width:50%}
.width-30percent{width:32%}
.width-25percent{width:25%}
.thin_rule{border-bottom:1px solid #ccc;padding:0 0 10px 0;}
.thin_rule-margin_10{border-bottom:1px solid #ccc; margin:0 0 10px 0; padding:0 0 10px 0;}
a.no_margin{margin:0 0 0 0}
.margin-b-50{margin:0 0 50px 0;}		

/*
	colors (100%)
*/
.color_white{color:#fff;}
.main .block-inner h2.title, .panel-pane h2.title, .main .block-inner h2.title a, .panel-pane h2.title a, .color_site_1{color:#003f69; border-color: #7f9fb4;}
.color_site_2{color:#5bb6e6;}
.color_devnet{color:#8bc541;}
.color_embedded{color:#00a89c;}
.color_fossbazaar{color:#e01b51}
.color_mobile{color:#f05b28}
.color_news{color:#cf7028;}
.color_video{color:#912b8b;}
/* not set... place holders for future color needs */
.color_downloads{color:#1e96ba;}
.color_events{color:#1f7f19;}
.color_workgroups{color:#8e105e;}


/*
	alt colors (50%)
*/
.color_site_alt_1{color:#7f9fb4;}
.color_site_alt_2{color:#addaf2;}
.color_devnet_alt{color:#c4df9f;}
.color_embedded_alt{color:#82ceca;}
.color_fossbazaar_alt{color:#e7879f}
.color_mobile_alt{color:#f8ad92}
.color_news_alt{color:#e6b68b;}
.color_video_alt{color:#c693c2;}
/* not set... place holders for future color needs */
.color_downloads_alt{color:#8ecadc;}
.color_events_alt{color:#8ebf8c;}
.color_workgroups_alt{color:#c687ae;}



/*
	border colors (uses alt colors)
*/
.b_color_white{border-color: #fff;}
.b_color_site_1{border-color: #7f9fb4;}
.b_color_site_2{border-color: #addaf2;}
.b_color_devnet{border-color: #c4df9f;}
.b_color_embedded{border-color: #82ceca;}
.b_color_fossbazaar{border-color:#e7879f}
.b_color_mobile{border-color:#f8ad92}
.b_color_news{border-color: #e6b68b;}
.b_color_video{border-color: #c693c2;}
/* not set... place holders for future color needs */
.b_color_downloads{border-color: #8ecadc;}
.b_color_events{border-color: #8ebf8c;}
.b_color_workgroups{border-color: #c687ae;}


/*
	background colors (uses alt colors)
*/
.bg_color_white{background-color: #fff;}
.bg_color_site_1{background-color: #7f9fb4;}
.bg_color_site_2{background-color: #addaf2;}
.bg_color_devnet{background-color: #c4df9f;}
.bg_color_embedded{background-color: #82ceca;}
.bg_color_fossbazaar{background-color: #e7879f;}
.bg_color_mobile{background-color: #f8ad92;}
.bg_color_news{background-color: #e6b68b;}
.bg_color_video{background-color: #c693c2;}
/* not set... place holders for future color needs */
.bg_color_downloads{background-color: #8ecadc;}
.bg_color_events{background-color: #8ebf8c;}
.bg_color_workgroups{background-color: #c687ae;}
		
/* 
	float clearer 
*/
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*
	Search
*/

#search-box{
	width:300px; 
	height:31px;
	background:url(http://spdx.org/images/search_field.jpg) no-repeat top left;
	overflow:hidden;
	margin:0 0 10px 0;
	padding:0 0 0 0;
	}
.searchbox{
	width:258px;
	height:19px;
	color:#4d4d4d; 
	font-size:13px;
	font-weight:bold;
	margin:4px 0 0 5px;
	padding:4px 0 0 2px;
	background:transparent none repeat scroll 0 0;
	border:none;
	float:left; 
	}
.searchbutton{
	width:28px;
	height:22px;
	margin:4px 3px 0 0;
	float:right;
	cursor:pointer;
	}

/*
	Comment
*/
.commentbox{margin:0 0 10px 0; padding:10px; color:#4d4d4d; font-size:13px; font-family:Arial, Helvetica, sans-serif;border:1px solid #ccc}
.submit_comment{}		
textarea{
	overflow:auto;
	resize:none;
	}
.flashcontent{border:1px solid #ccc}

#foot p{
	width:500px;
	margin:0 0 0 136px;
	font-size:10px;
	color:#5bb6e6;
	}

/*
	Breadcrumbs --------------------------------
*/	
.breadcrumb{font-size:12px; color: #999; text-transform:capitalize;margin:-13px 10px 0 0;padding:12px 0 3px 10px; background: url('http://spdx.org/sites/all/themes/fossbazaar/images/navbar-bg.png'); height:20px;}

.breadcrumb a{
background: transparent url(http://spdx.org/images/icn_bullet.gif) no-repeat center right;
text-decoration: none;
padding-right: 12px; /*adjust bullet image padding*/
color: #666;
}

.breadcrumb a:visited, .breadcrumb a:active{
color: #666;
}

.breadcrumb a:hover{
text-decoration: underline;
}
	
body {
	margin: 0 auto;
	padding: 0;
	
	color: #4d4d4d;
	font-family: Arial, Helvetica, sans-serif;
}
#page_sg {
	width:720px;
	height:auto;
	overflow:auto; 
	margin:0 auto;
	padding:0 10px 10px 10px;
	background-color:#fff;
	}
#util_nav_sg{
	width:700;
	height:20px;
	margin:0 0 15px 0;
	overflow:hidden;
	}
	
ul {
	list-style-type: none;
	margin:0 0 10px 0;
	padding:0;
	font-size:12px;
	}
ul li{margin:0 0 5px 0}	
ul li ul{margin:0 0 0 10px}		
ul.inline_list li{
	float:left;
	margin:0 0 0 0px;
	}
	
.node ul{
list-style-type: disc;
margin-left:20px;
}
	
.float_left {
	float:left;
	}
.float_right{
	float:right;
	}	
a {
	color: #000000;
}
a.list-link{
	color:#999;
	font-size:10px;
	font-weight:normal;
	text-transform:uppercase;
	margin:0 0 0 10px;
	padding:2px 0 1px 20px !important;
	line-height:20px !important;
	text-decoration:none;
	}
a.list-link:link{
	color:#666;
	text-decoration:none;
}
a.list-link:visited{
	color:#999;
	text-decoration:none;
}
a.list-link:hover{
	color:#5bb6e6;
	text-decoration:underline;
}
a.list-link:active{
	color:#999;
	text-decoration:none;
}
a.no_margin{margin:0 0 0 0}
.email {
	background: url(http://spdx.org/images/icn_email.png) no-repeat 0 0;
	}
.download {
	background: url(http://spdx.org/images/icn_download.png) no-repeat 0 0;
	}
.info {
	background: url(http://spdx.org/images/icn_info.png) no-repeat 0 0;
	}	
h1.wrap_sg  {
	font: normal 32px Arial, Helvetica, sans-serif;
	margin: 20px 0 5px 0;
}

h2.wrap_sg{
	color:#666;
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
	margin: 0 0 20px 0;
	font:normal 16px Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	clear:both;
}

p{
	font-size:12px;
	font-weight:normal;
	line-height:18px;
	color:#666
	}

img {
	/*border: 1px solid #ccc;*/
}

/* ---------- gallery styles start here ----------------------- */
.gallery {
	
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

.gallery li {
	margin: 0 10px 20px 10px;
	padding: 0;
	float: left;
	position: relative;
	width: 200px;
	height: 130px;
}
.gallery img {
	background: #fff;
	border: solid 1px #ccc;
	padding: 4px;
}
.gallery span {
	width: 20px;
	height: 18px;
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.gallery a {
	text-decoration: none;
}
.gallery a:hover img  {
	border-color: #666;
}
.gallery a:hover span {
	background-position: left -22px;
}
	
#two_col_col_1 .section.main{
overflow:hidden
}

.view table tr td{
  /*font-size: 14px;*/
}
#content_xxx .section table tr td {
 background-color:#fff;
}

a.header-link{
	color: #999999;
	font-size: 10px;
	font-weight: normal;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

a.header-link:hover{
	color: #5bb6e6;
	text-decoration: underline;
}

/** Stay Connected **/
#stay-connected {
  white-space: nowrap;
}

#stay-connected ul {
  list-style: none;
  padding: 0;
  margin: 0;
	margin-left:-15px;
}
#stay-connected ul li{
  list-style:none;
}
.item-list ul li.stay-connected a {
  margin: 0;
  line-height: 18px;
  padding-left: 18px;
  display: block;
}
li.stay-connected-youtube a {
  background: url(images/youtube.html) no-repeat left center;
}
li.stay-connected-twitter a {
  background: url(images/twitter.html) no-repeat left center;
}
li.stay-connected-facebook a {
  background: url(images/facebook.html) no-repeat left center;
}
li.stay-connected-linkedin a {
  background: url(images/linkedin.html) no-repeat left center;
}
li.stay-connected-rss a {
  background: url(images/rss.html) no-repeat left center;
}
.view-top-content .item-list ul li{
line-height:22px;
}
#footer .block .content .block {
width:148px; float:left; height:140px; margin:5px;
}


#block-views-member_spotlight ul li .view-data-field-image-fid img{
border: 5px solid #80B3D2;
margin:0 0 10px 25px;
}
#util_nav ul li a{
font-size:10px;
color:#999999;
}
#util_nav ul li a:hover{
color:#5bb6e6;
}
/* article goes for both article areas. spotlight is for the spotlight block, and more-link is the default view more link syntax */
#onearticlemorelink a, #spotlightmorelink a, .more-link a{

}

#onearticletext .view-data-title a{
color:#5bb6e6;
font-weight:bold;
}


.picture /*.comment .submitted*/ {
  float: right;
  clear: right;
  padding-left: 1em;
}


/* Drupal by default sets a dark background for "active" tables.  This
   doesn't fit in well with the LF look&feel so set it to white. */
td.active {
    background-color:#fff;
}


/*
	#Tabs
*/
#tabs .block-menu_block a{display:block;}

#tabs .block-menu_block ul ul a{width:10.5em;}

#tabs .block-menu_block ul{
padding:0;
margin:0;
list-style:none;
line-height:1;z-index:1000;height:29px;border-bottom:3px solid #00557E;}

#tabs .block-menu_block li{
float:left;
list-style:none;
padding-left: 5px;
margin-right:10px;
}

#tabs .block-menu_block li li{
width:11.5em;
padding:0 0.5em;
margin-right:0;
}

#tabs .block-menu_block li ul{position:absolute;width:12.5em;left:-999em;}

#tabs .block-menu_block li:hover ul ul,#tabs .block-menu_block li:hover ul ul ul{left:-999em;}

#tabs .block-menu_block li:hover ul, #tabs .block-menu_block li li:hover ul,#tabs .block-menu_block li li li:hover ul{left:auto;}

#tabs .block-menu_block li ul ul{margin:-1.72em 0 0em 12em;}

#tabs .block-menu_block{
font-size:1.083em;font-weight:bold;
	background-color: #fff;
}

#tabs .block-menu_block a{text-decoration:none;padding:16px 8px;}

#tabs .block-menu_block li.active-trail a,#tabs .block-menu_block li:hover a{
color:#FFF;
background:transparent url(http://spdx.org/sites/all/themes/spdx/images/menu-bg-right.png) no-repeat right center;
}

#tabs .block-menu_block li.active-trail,#tabs .block-menu_block li:hover{
background:transparent url(http://spdx.org/sites/all/themes/spdx/images/menu-bg-left.png) no-repeat left center;
}

#tabs .block-menu_block li.active-trail li a,#tabs .block-menu_block li:hover li a,#tabs .block-menu_block li.active-trail li,#tabs .block-menu_block li:hover li{color:#336699;background:none;}

#tabs .block-menu_block ul ul{
border:1px solid #85b0c1;background-color:#FFF;
font-size:1.123em;
height:auto;}

#tabs .block-menu_block ul ul ul{
font-size:1em;
}

#tabs .block-menu_block ul ul a,#tabs .block-menu_block ul ul a.active-trail{
border-bottom:1px solid #85b0c1;padding:0.5em;color:#336699;}

#tabs .block-menu_block ul ul li.last > a{border-bottom:none;}

#tabs .block-menu_block ul ul a:hover{background-color:#aae3f6;color:#336699;}


/* -------------------------------------------------- */

